snippet attr 'attribute setting' b
	.attr('${1:attribute}',${2:setting})
snippet cla 'class' b
	.classed('${1:class}',true)
snippet fund 'function(d)' b
	function(d) { return ${1}; }
snippet fund 'function(d)' b
	function(d,i) { return ${1}; }
