snippet cls
	console.log("${1}");
snippet cl
	console.log(${1});
snippet fun "function (fun)" w
	function ${1:function_name}(${2:argument}) {
		${3:code}
	}
snippet for "for loop"
	for(var i=0;i<${1:MAX};i++) {
	  ${3:code}
	}
